* {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1vw;
}

body {
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

/* HEADER */

header {
	background: #fff;
	width: 100%;
  padding: 1.44em 6.5em 1.44em 6.5em;
	position: fixed;
	z-index: 100;
  background-color: #808080;
}

#logo {
  display: inline-flex;
  align-items: center;
}

#logo span {
	float: left;
  padding-left: 1.4em;
  color: white;
  font-weight: bold;
}

#logo img {
  width: 3.38em;
  height: 3.38em;
}

nav {
	float: right;
  margin-right: 11.5em;
}

#menu-icon {
	display: none;
	width: 54px;
	height: 54px;
  background: transparent url('https://treehouse-blog.s3.amazonaws.com/Respond-Menu/img/menu-icon.png') center no-repeat;
}

ul {
	list-style: none;
  padding-top: 3px;
}

li {
	display: inline-block;
	float: left;
  padding-right: 1.44em;
}

li a {
  color: white;
  font-weight: bold;
}

.current {
	color: #fe9a2b;
}

/* ALL */

h1 {
  font-size: 4.5em;
}

h2 {
  font-size: 3em;
  line-height: 110%;
}

p {
  font-size: 1.5em;
  line-height: 120%;
}

/* MAIN */

.main {
  width: 100%;
  background-color: #fe9a2b;
  display: flex;
  flex-direction: row;
  padding: 8em 0 0 4.5em;
  margin: 0 auto;
}

.main img {
  margin-top: 1em;
  width: 29.5%;
  margin-left: 1em;
}

.main-text {
  padding: 1.5em 0 0 6.56em;
}

.main-text h1 {
  color: white;
  width: 60%;
}

.main-text p {
  color: white;
  width: 80%;
}

.main-text button {
  background-color: white;
  padding: 1.5em 2.2em;
  margin-top: 3em;
  border-radius: 50px;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  color: #2a2a2a;
}

.main-text button:hover {
  background-color: #2a2a2a;
  color: white;
}

/* ABOUT */

.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4.5em 6.5em 5.5em 6.5em;
  background-color: #f1f1f1;
}

.big {
  position: absolute;
  z-index: -1;
  color: #DAD9D9;
  font-size: 10em;
  font-weight: bold;
  margin-right: 30em;
  width: 100%;
}

.about-text {
  padding: 1.5em 6.56em 0 0;
  width: 50%;
  z-index: 2;
}

.about-text h2 {
  width: 80%;
  margin: 0 0 1em 0;
}

.video {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-right: 6.56em;
  z-index: 2;
}

.video::after {
  padding-top: 56.25%;
  display: block;
  content: '';
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* WHY */

.why {
  padding: 3.5em 6.5em 5em 6.5em;
}

.why h2 {
  text-align: center;
}

.why-points {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 4em;
}

.point {
  text-align: center;
  width: 20%;
}

.point p {
  margin-top: -1.2em;
}

.circle {
  background-color: #fe9a2b;
  border-radius: 50%;
  position: absolute;
  width: 7em;
  height: 7em;
  z-index: -1;
  margin-left: -3em;
}

/* RULES */

.rules {
  background-color: #f1f1f1;
  padding: 4.5em 6.5em 5em 6.5em;
}

.rules h2 {
  width: 48%;
}

.content {
  display: flex;
  flex-direction: row;
  padding: 0;
  align-items: center;
  margin-top: 4em;
}

.rules img {
  width: 50%;
  margin-left: 4em;
}

.profits {
  width: 45%;
}

.profit {
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
}

.profit p {
  margin-left: 2em;
  margin-top: 0;
}

.marker {
  background-color: #fe9a2b;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
}


@media screen and (min-width: 767px) and (max-width: 1399px) {
  header {
    position: absolute;
  }

  #logo {
    margin-top: 1em;
  }

  #logo span {
    font-size: 2em;
  }

  #menu-icon {
    display:inline-block;
  }

  nav ul, nav:active ul {
    display: none;
    position: absolute;
    padding: 1.44em;
		background: #fff;
		border: 2px solid #444;
    float: left;
    right: 18.25em;
		top: 6em;
		width: 15%;
  }

  nav li {
    text-align: right;
    width: 100%;
    padding: 0.6em 0;
    margin: 0;
  }

  nav li a {
    color: black;
    font-size: 2em;
  }

  nav li a:hover {
    color: #fe9a2b;
  }

  nav:hover ul {
    display: block;
  }

  nav:active ul {
    display: block;
  }

  /* ALL */

  h1 {
    font-size: 3.5em;
  }

  p {
    font-size: 2em;
  }

  /* MAIN */

  .main h1 {
    width: 80%;
  }

  .main img {
    margin-top: 5em;
    width: 35%;
    height: auto;
  }

  .main-text {
    margin-top: 6em;
  }

  .main button {
    font-size: 1.2em;
  }

  /* WHY */

  .why {
    width: 80%;
    display: inline-block;
    text-align: center;
  }

  .why-points {
    margin-top: 6em;
    flex-wrap: wrap;
  }

  .point {
    text-align: left;
    width: 40%;
    padding-bottom: 2.5em;
  }

  .point p {
    margin-top: 1em;
  }

  /* RULES */

  .content {
    margin-top: 5.3em;
  }

  .marker {
    width: 20px;
    height: 20px;
  }
}


@media screen and (min-width: 320px) and (max-width: 767px) {

  #menu-icon {
    display:inline-block;
  }

  nav ul, nav:active ul {
    display: none;
    position: absolute;
    padding: 1.44em;
		background: #fff;
		border: 2px solid #444;
    float: left;
    right: 18.25em;
		top: 6em;
		width: 30%;
  }

  nav li a {
    color: black;
    font-size: 5em;
  }

  nav li a:hover {
    color: #fe9a2b;
  }

  nav:hover ul {
    display: block;
  }

  nav:active ul {
    display: block;
  }

  #logo img {
    width: 8em;
    height: 8em;
  }

  #logo span {
    font-size: 5em;
  }


  /* ALL */

  h1 {
    font-size: 7em;
  }

  p {
    font-size: 4em;
  }

  h2 {
    font-size: 6em;
  }

  /* MAIN */

  .main, .about {
    display: flex;
    flex-direction: column;
  }

  .main h1 {
    width: 80%;
  }

  .main img {
    order: 2;
    margin-top: 5em;
    width: 80%;
    height: auto;
  }

  .main-text {
    margin-top: 15em;
    left: 0;
    order: 1;
  }

  .main button {
    font-size: 3em;
  }

  /* ABOUT */

  .about {
    padding-bottom: 15em;
  }

  .video {
    margin: 4em 0 0 0;
    order: 2;
  }

  .about-text {
    width: 100%;
    padding: 10em 15em 0 15em;
  }

  /* WHY */

  .why {
    padding: 10em 15em 0 15em;
  }

  .why h2 {
    text-align: left;
    width: 80%;
  }

  .why-points {
    margin-top: 10em;
    flex-direction: column;
  }

  .point {
    text-align: left;
    width: 80%;
    margin-bottom: 2.5em;
  }

  .point p {
    margin-top: 0;
  }

  .point h1 {
    margin-bottom: 0.5em;
  }

  .circle {
    width: 10em;
    height: 10em;
  }

  /* RULES */

  .rules {
    background-color: #f1f1f1;
    padding: 4.5em 6.5em 5em 6.5em;
  }

  .rules h2 {
    width: 100%;
  }

  .content {
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center;
    margin-top: 8.3em;
  }

  .rules img {
    width: 100%;
  }

}
