* {
  font-family: 'Montserrat', sans-serif;
}

body {
  width: 100%;
}

a {
  text-decoration: none;
}

header {
	background: #fff;
	width: 100%;
  padding: 1.44em 6.5em 1.44em 6.5em;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
  background-color: #808080;
}

#logo {
  display: inline-flex;
  align-items: center;
}

#logo p {
	float: left;
  padding-left: 1.4em;
  color: white;
  font-weight: bold;
}

#logo img {
  width: 3.38em;
  height: 3.38em;
}

nav {
	float: right;
  margin-right: 11.5em;
}

#menu-icon {
	display: none;
	width: 3.31em;
	height: 3.31em;
  background: transparent url('https://treehouse-blog.s3.amazonaws.com/Respond-Menu/img/menu-icon.png') center;
}

ul {
	list-style: none;
  padding-top: 3px;
}

li {
	display: inline-block;
	float: left;
  padding-right: 1.44em;
}

li a {
  color: white;
  font-weight: bold;
}

.current {
	color: #fe9a2b;
}

@media screen and (max-width: 800px) {
  header {
    position: absolute;
  }

  #menu-icon {
    display:inline-block;
  }

  nav ul, nav:active ul {
    display: none;
    position: absolute;
    padding: 1.44em;
		background: #fff;
		border: 2px solid #444;
    float: left;
    right: 18.25em;
		top: 1.44em;
		width: 15%;
  }

  nav li {
    text-align: right;
    width: 100%;
    padding: 0.6em 0;
    margin: 0;
  }

  nav li a {
    color: black;
  }

  nav:hover ul {
    display: block;
  }
}
